$background: #FFFFFF;
$dark-background: #8D8B8B;
$primary: #00E6B5;
$primary-light: rgb(245, 218, 192);
$primary-dark: #E8B37D;
$primary-gradient: linear-gradient(-45deg, #CE9E6F, #E8B37D 62%, #FFC686);
$secondary: #081B2B;
$black: #111111;
$accent: #545557;
$success: #20C997;
$error: #E45F4D;
$neutral-white: #FFFFFF;
$text-main: #393838;
$text-alt: #6D6F71;